@import "bootstrap.css";

.header {
    height: 450px;
    background: url("../../images/background.jpeg") no-repeat;
    background-size: cover;
}

.panel-footer {
    text-align: center;
}
.panel-footer li {
    list-style: none;
}

.panel-footer ul {
    text-decoration: none;
    margin-left: 0;
    padding-left: 0;
}